@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100vh;
  position: relative;
  background-color: #e9e7e7e2;
}
/* HEADER COMPONENT */

header {
  height: 128px;
  font-family: "Bleak Chop";
  background-color: #030303;
  padding: 51px 1px;
}
#logo {
  height: 180px;
  width: 196px;
  margin-top: -35px;
  margin-left: 619px;
}
h1 {
  font-size: 35px;
  margin-top: -36px;
  margin-left: 647px;
  color: #ec004a;
  font-family: "Bleak Chop";
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px;
  letter-spacing: 1px;
 
}

/* NAV COMPONENT */

nav {
  height: auto;
  width: auto;
  background-color: #000000;
  padding: 5px 0px 6px 76px;
}

#inputFilter {
  font-size: 18px;
  text-align: left;
  padding: 8px 10px 6px 20px;
  margin: 0px 6px 0px 10px;
  box-shadow: 3px 3px 3px rgba(132, 132, 132, 0.13);
  border: 0;
  border-radius: 8px;
  outline: none;
}
label {
  padding: 5px;
  border: none;
  font-family: "Hammersmith One", sans-serif;
}
select {
  color: black;
  font-size: 18px;
  font-family: "Hammersmith One", sans-serif;
  background-color: #f3f3f3;
  padding: 6px 10px 6px 10px;
  box-shadow: 2px rgba(132, 132, 132, 0.13);
  border: 0;
  border-radius: 5px;
  outline: none;
}
select[name="year"] {
  padding: 8px 12px 8px 12px;
}
select:hover {
  color: #ec004a; 
  transition: 5ms;
}
button {
  font-size: 15px;
  font-weight: bold;
  border: none;
  color: #ec004a;
  background-color: #ffffff;
  padding: 8px 15px 8px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin-left: 20px;
}
button:hover {
  color: white;
  background-color: #ec004a;
}

/* HOME COMPONENT */

.secondaryNav{
  height: auto;
  font-family: "Bleak Chop";
  background-color: #e9e7e7e2;
  padding: 50px;
}
#logo {
  height: 180px;
  width: 196px;
  margin-top: -26px;
  margin-left: 674px;
}
h1 {
  font-size: 35px;
  margin-top: -36px;
  margin-left: 647px;
  color: #ec004a;
  font-family: "Bleak Chop";
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px;
  letter-spacing: 1px;
 
}
.imgHome {
  width: 41px;
  height: 39px;
  display: flex;
  margin-left: -14px;
  margin-top: -33px;
}

/* COMPUTE STATS */

.computeStats {
  font-size: 20px;
  color: #ec004a;
  text-align: left;
  margin-left: 500px;
}
#noResultsFound {
  padding-top: 20px opx;
}
.chatMss {
  font-size: 20px;
  color: #0e0e0e;
  text-align: center;
  margin: 15px 0px;
  font-family: "Hammersmith One", sans-serif;
}

/* CARDS COMPONENT */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.itemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 500px;
  height: 280px;
  margin: 20px;
  color: #ec004a;
  border-radius: 10px;
  padding: 15px 5px 0px 15px;
  background: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}
.itemContainer:hover{
  transform: translateY(-3%);
  box-shadow: 0 5px 5px rgba(245, 31, 102, 0.365);
}
.movieImg {
  max-width: 220px;
  max-height: 264px;
  border-radius: 10px;
}
.texto {
  position: absolute;
  top: 8px;
  left: 220px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
dd[itemprop="studio"] {
  color: #080807;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-top: 25px;
}
dd[itemprop="name"] {
  font-size: 17px;
  font-weight: bold;
  font-family: "Hammersmith One", sans-serif;
  margin-top: 30px;
  letter-spacing: 1px;
}
dd[itemprop="shortDescription"] {
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
  color: #010101;
  font-family: Arial, Helvetica, sans-serif;
}
dd[itemprop="genre"] {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  margin-top: 15px;
  color: #010101;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 220px;
}
dd[itemprop="year"] {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 245px;
  left: 240px;
  letter-spacing: 1px;
}

/* CHAT IA COMPONENT*/


.chatContainer {
  width: 675px;
  height: 773px;
  display: flex;
  justify-items: right;
  margin: -694px 0px 0px 691px;
  
   
}
.div_items {
  width: 616px;
  height: 691px;
  margin: 2px 55px;
  display: flex;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 20px;
  
}
div .chats {
  width: 519px;
  height: 533px;
  margin: 123px -616px;
  overflow-y: scroll;
 
}
.user  {
  width:705px;
  height: 90px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #040404;
  padding: 15px;
}
.user img {
  width: 79px;
  height: 87px;
  margin-left: 15px;
  object-fit: cover;
  border-radius: 50%;
}
.user h4 {
  margin-left: 24px;
  font-size: 20px;
  
}
.messagesU {
  width: 50%;
  font-size: 20px;
  word-wrap: break-word;
  border-radius: 10px;
  margin: -3px 23px;
}
.messagesApi {
  width: 50%;
  font-size: 20px;
  word-wrap: break-word;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 5px -12px 5px auto;
}
.chatInputForm {
  width: 534px;
  height: 42px;
  margin: -292px 99px; 
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.chatInputForm input {
  width: 87%;
  height: 100%;
  font-size: 20px;
  text-align: start;
  color: #000000;
  background-color: #e9e7e7e2;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 0 20px;
}
.sendButton img {
  width: 100%;
  height: 100%;
}
.sendButton {
  width: 40px;
  height: 40px;
  background-color: #ec004a;
  padding: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 19px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.sendButton:active {
  transform: scale(0.85);
}
.sendButton:hover{
  background-color: #ffdf6a;
}

/* FOOTER COMPONENT */

footer {
  color: #ec004a;
  font-size: 19px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px;
  background-color: #0b0b0b;
  font-family: "Hammersmith One", sans-serif;
}

/*PASSWORD VIEW */

.apiSection {
  display: grid;
  column-gap:  86px;
  grid-template-columns: 210px 200px;
  justify-content: center;
  margin: 37px -22px 112px 37px;
}
.apiSection p, .apiSection input{
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin: 31px 27px;
}
.apiSection h2{
  color: #ec004a;
  grid-column-start: span 2;
  display: flex;
  justify-content: center;
  font-size: 27px;
  margin: 72px 69px -12px;
}
#saveApiButton{
 font-size: 17px;
  font-weight: bold; 
  color: #ffffff;
  background-color: #ec004a;
  border: none;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 5px;
  cursor: pointer;
}
#saveApiButton:hover {
    background-color: #fcfcfc;
}
#clearApiButton{
  font-size: 17px;
   font-weight: bold; 
   color: #ec004a;
   background-color: #ffffff;
   border: none;
   padding: 15px 10px 15px 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
   border-radius: 5px;
   cursor: pointer;
 }
 #clearApiButton:hover{
   background-color: #f7004e;
 }
.apiText {
  color: #010101;
  font-size: 20px;
}
.apiKeyInput {
  width: 420px;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  padding: 15px 20px 15px;
  margin: 0px 6px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 25px;
  outline: none;
  border: 0;
}

/* DETAILS VIEW */

.moviePoster {
  width: 493px;
  height: 669px;
  margin: -12px 133px ;
  border-radius: 20px;
  padding: 12px;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.285) 0px 10px 10px;
}
.imgMovie {
  width: 319px;
  height: 388px;
  margin: 39px 92px;
  border-radius: 19px;
}
.movieTittle {
  color: #ec004a;
  font-size: 26px;
  margin: -14px 172px;
}
.description {
  margin: 19px 29px;
  color: #f5f5f5;
  text-align: justify;
  font-size: 15px;
}

/* ERROR VIEW */

.errorMessage {

margin-top: 212px;
margin-left: 579px;
  font-size: 40px;
  color:#ec004a;
  font-family: "Bleak Chop";
}
.errorImg {
  width: 480px;
  height: 467px;
  margin-top: 52px;
  margin-left: 501px;

}


/* MEDIA VIEW */

@media (max-width: 412px) {
  header{
    height: 20px;
    width: 100%;
  }
  #logo {
    max-height: 70px;
    max-width: 70px;
    position: absolute;
    left: 5px;
    top: 1px;
  }
  h1 {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .navComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .computeStats{
    display: flex;
justify-content: center;
  }

  /* CARDS COMPONET */ 
  .itemContainer{
    width: 380px;
    height: 236px;
    display: flex;
    flex-direction: column;
  }
  .itemContainer img{
    height: 236px;
    width: 168px;
  }
  .cardsText{
    top: 5px;
    left: 181px;
    padding-right: 18px;
  }
  dd[itemprop="studio"] {
font-size: 11px;
  }
  dd[itemprop="name"] {
    font-size: 15px;
  }
  dd[itemprop="shortDescription"] {
    font-size: 13px;
    line-height: 18px;
    margin-top: 2px;
  }
  dd[itemprop="genre"]{
    font-size: 12px;
    top: 172px;
}
dd[itemprop="year"]{
  left: 144px;
  top: 200px;
  font-size: 12px;
}

 /* DETAILS VIEW */

.detailsImage{
  width: 340px;
  height: 453px;
  align-items: center;
}
.chatContainer{
  transform: translate(5px, 82px);
}
.user h4{
  font-size: 16px;
}
.chatInputForm input{
  width: 68%;
}
 /* ERROR SECTION */

 .errorSection{
  display: flex;
  flex-direction: column;
  margin: 10px 20px 40px;
  justify-content: center;
 }
 
 
 /* SECONNDARY NAV COMPONENT*/ 
.imgHome{
  flex-direction: row;
}

/* NAV LATERAL */
.menu{
  max-width: 414px;
  z-index: 100;
}
.menu select,
button {
  display: flex;
flex-direction: column;
}
}
