@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@font-face {
  font-family: "Bleak Chop";
  src: url("./Bleak\ Chop.ttf");
}
* {
  text-align: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  position: relative;
  overflow-y: scroll;
}
header {
  height: 230px;
  font-family: "Bleak Chop";
  background-color: #ece9e2;
  padding-bottom: 40px;
}

h1 {
  font-size: 35px;
  color: #ec004a;
  font-family: "Bleak Chop";
  margin-top: 0px;
  letter-spacing: 2px;
}



h2 {
  padding: 30px;
  text-align: center;
}

.error-img {
  display: flexbox; /* Buscar como centrarlo utilizando flexbox*/
  width: 300px;
  height: 300px;
}

h3 {
  padding: 20px;
  text-align: center;
}

#logo {
  max-height: 180px;
  max-width: 180px;
  margin-top: 25px;
  align-content: center;
}
nav {
  height: auto;
  width: 100%;
  background-color: #ec004a;
  padding: 10px 0px 0px 0px;
}


/* falta un float*/
.menuIcon {
  width: 30px;
  height: 30px;
  float: right;
  margin: 15px 20px 15px 0px;
  display: none;
}
#check {
  display: none;
}
input {
  font-size: 18px;
  text-align: left;
  padding: 8px 10px 6px 16px;
  margin: 0px 6px 0px 10px;
  box-shadow: 3px 3px 3px rgba(132, 132, 132, 0.13);
  border: 0;
  border-radius: 8px;
  outline: none;
}
label {
  padding: 5px;
  border: none;
  font-family: "Hammersmith One", sans-serif;
}
/*
.sidebard{
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background: #e4034a;
}

select {
  color: white;
  font-size: 18px;
  font-family: "Hammersmith One", sans-serif;
  background-color: #ec004a;
  padding: 6px 10px 6px 10px;
  box-shadow: 2px rgba(132, 132, 132, 0.13);
  border: 0;
  border-radius: 5px;
  outline: none;
}*/
select[name="year"] {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 10px;
padding-left: 40px;
box-sizing: border-box;
}
select:hover {
  color: #010101;
  background-color: #ece9e2;
  transition: 5ms;
}
/*No funciona
  option {
    color: #080808;
    background-color: #febf4e;
  }
  option:hover {
    background-color: #fe9a4e;
  }*/
button {
  font-size: 15px;
  font-weight: bold;
  border: none;
  color: #ec004a;
  background-color: #ece9e2;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  margin-left: 15px;
}
button:hover {
  background-color: rgba(31, 30, 30, 0.902);
}

p {
  width: 100%;
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-family:  "Hammersmith One", sans-serif;
  padding: 7px 0px;
 
}

.metrics {
  height: auto;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#ec004a;
  padding-bottom: 0px;
}

/*header views*/
h2 {
  padding: 20px;
  text-align: center;
}
h3{
  padding: 20px;
  text-align: center; 
}
.compute-stats {
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 0px;
  background-color: rgb(40, 40, 40);
}
#noResultsFound {
  padding-top: 20px;
  
}
.chatmss {
  font-size: 17px;
  color:#ec004a;
  text-align: center;
  padding: 5px 0px;


}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.itemcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 540px;
  height: 290px;
  margin: 20px;
  color: #ec004a;
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
img {
  max-width: 220px;
  max-height: 264px;
  border-radius: 10px;
}

.texto {
  position: absolute;
  top: 8px;
  left: 220px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

dd[itemprop="studio"] {
  color: #f8b943;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-top: 25px;
}

dd[itemprop="name"] {
  font-size: 17px;
  font-weight: bold;
  font-family: "Hammersmith One", sans-serif;
  margin-top: 30px;
  letter-spacing: 1px;
}
dd[itemprop="shortDescription"] {
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
  color: #010101;
  font-family: Arial, Helvetica, sans-serif;
}
dd[itemprop="genre"] {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  margin-top: 15px;
  color: #010101;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 204px;
}
dd[itemprop="year"] {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 230px;
  left: 240px;
  letter-spacing: 1px;
}
.apiText{
  color:#010101;
}
#saveApiButton, #clearApiButton {
  font-size: 15px;
  font-weight: bold;
  border: none;
  color: #ece9e2;
  background-color: #ec004a;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  margin-left: 15px; 

}

footer {
  color: white;
  font-size: 20px;
  /*position: static;*/
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 30px;
  padding: 20px 20px;
  background-color: #ec004a;
  font-family: "Hammersmith One", sans-serif;
}

@media (max-width: 400px) {
  header {
    height: 20px;
    width: 100%;
    background-color: #febf4e;
  }
  #logo {
    max-height: 70px;
    max-width: 70px;
    position: absolute;
    left: 5px;
    top: 1px;
  }
  h1 {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  nav select {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav select option {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    font-size: 20px;
  }
  option:hover {
    background: none;
    color: #f8b943;
  }
  #check:checked ~ select {
    left: 0;
  }
  .metricas {
    padding-left: 10px;
    padding-top: 10px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .itemcontainer {
    flex-direction: column;
    width: 300px;
    height: 540px;
    justify-content: flex-start;
  }
  .container img {
    max-width: 180px;
    max-height: 240px;
    border-radius: 6px;
  }
  .texto {
    position: relative;
    padding: 0;
    left: 0;
  }
  dd[itemprop="name"] {
    font-size: 15px;
    line-height: 28px;
  }
  dd[itemprop="shortDescription"] {
    font-size: 15px;
    line-height: 20px;
  }
  dd[itemprop="genre"] {
    position: absolute;
    top: 230px;
  }
  dd[itemprop="year"] {
    line-height: 15px;
    position: absolute;
    top: 256px;
  }
}